.faq {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;

  &__title {
    text-align: left;
    margin-bottom: 30px;
    font-weight: 700;
    font-style: Bold;
    font-size: 44px;
    line-height: 56px;
    letter-spacing: -4%;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    border-radius: 8px;
    overflow: hidden;
    background: rgba(234, 239, 240, 1);
    transition: background 0.25s ease;

    &.active {
      background: rgba(106, 84, 255, 1);
      color: #fff;

      .faq__question {
        color: #fff;
      }

      .faq__answer {
        color: #fff;
      }
    }
  }

  &__question {
    width: 100%;
    padding: 18px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -4%;
    text-align: left;

    border: none;
    background: transparent;

    .arrow {
      transition: 0.3s ease;

      &.open {
        transform: rotate(180deg);
      }
    }
  }

  &__answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 20px;
    transition: max-height 0.3s ease, padding 0.3s ease;

    &.open {
      max-height: 300px;
      padding: 15px 20px;
    }

    p {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0%;
    }
  }
}
