* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "IBM Plex Sans", sans-serif;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}
