.about {
  padding: 80px 0;
  background: #fff;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  /* ЛЕВО */
  &__left {
    flex: 1;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
    max-width: 520px;
    color: #222;
  }

  &__right {
    flex: 1;
    background-color: rgba(106, 84, 255, 1);
    padding: 35px;
    border-radius: 4px;
    color: #fff;
  }

  &__box-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    line-height: 1.4;
  }

  &__form {
    display: flex;
    gap: 15px;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    input {
      flex: 1;
      background: rgba(255, 255, 255, 0.15);
      border: none;
      padding: 14px 18px;
      border-radius: 8px;
      outline: none;
      color: #fff;

      &::placeholder {
        color: rgba(255, 255, 255, 0.6);
      }
    }

    button {
      background: rgba(87, 225, 255, 1);
      border: none;
      padding: 14px 22px;
      border-radius: 8px;
      cursor: pointer;
      font-weight: 600;
      transition: 0.25s;

      &:hover {
        background: rgba(87, 225, 255, 0.85);
        transform: scale(1.05);
      }
    }
  }
}
