.footer {
  background: #010519; // тёмный фон как на скрине
  padding: 40px 0;
  border-top: 4px solid #5b4bff; // верхняя фиолетовая линия

  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    align-items: center;

    display: flex;
    justify-content: space-between;
    gap: 40px;

    padding-bottom: 40px;

    @media (max-width: 1050px) {
      flex-direction: column;
      gap: 30px;
      padding-bottom: 20px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: 1050px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &__title {
    color: #a7a7b5;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 200px;

    @media (max-width: 1050px) {
      margin-bottom: 0;
    }
  }

  &__nav {
    display: flex;
    gap: 24px;
    flex-wrap: nowrap;

    a {
      color: #d2d2db;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      transition: opacity 0.2s;
      text-transform: uppercase;
      max-width: none;
      white-space: nowrap;
      flex: 0 0 auto;

      &:hover {
        opacity: 0.7;
      }
    }

    @media (max-width: 1050px) {
      gap: 15px;
      flex-wrap: wrap;
      justify-content: flex-end;
      max-width: 70%;
      flex-direction: column;

      a {
        white-space: normal;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 180px;

    flex: 1;

    @media (max-width: 1050px) {
      align-items: flex-start;
      gap: 15px;
    }
  }

  &__logo {
    font-size: 22px;
    font-weight: bold;
    color: #fff;

    img {
      width: 165px;
      height: 80px;
    }
  }

  &__copy {
    color: #8f8fa5;
    font-size: 14px;

    @media (max-width: 1050px) {
      margin-top: 10px;
    }
  }
}

@media (max-width: 1050px) {
  .footer {
    &__left {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
    }

    &__nav {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      justify-content: flex-end;
      max-width: 70%;

      a {
        white-space: normal;
        flex: 0 1 auto;
      }
    }

    &__right {
      width: 100%;
      margin-top: 20px;
      align-items: left;
      gap: 8px;

      @media (max-width: 600px) {
        gap: 6px;
      }

      & .footer__logo,
      & .footer__copy {
        text-align: center;
      }
    }
  }

  .footer__divider {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 1);
    margin: 20px 0;
  }
}

@media (min-width: 1051px) {
  .footer__divider {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 1);
    margin: 20px 0;
    rotate: 90deg;
  }
}
