.tariffs-section {
  padding: 80px 0;
  background: rgba(3, 7, 24, 1);
  color: #fff;

  .section-title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .tabs {
    display: flex;
    gap: 12px;
    margin-bottom: 30px;

    button {
      width: 200px;
      height: 44px;
      padding: 10px 18px;
      border-radius: 4px;
      border: none;
      background: rgba(106, 84, 255, 1);
      color: rgba(87, 225, 255, 1);
      cursor: pointer;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;

      &.active {
        background: rgba(87, 225, 255, 1);
        color: rgba(0, 0, 0, 1);
      }
    }
  }

  .tariff-cards {
    display: flex;
    gap: 20px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.tariff-card {
  max-width: 414px;
  height: 556px;
  flex: 1;
  border: 1px solid rgba(106, 84, 255, 1);
  padding: 24px;
  border-radius: 10px;
  transition: 0.25s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transform: scale(1.05);
  }

  &-background1 {
    background-color: rgba(106, 84, 255, 1);
  }

  &-background2 {
    background-color: rgba(3, 7, 24, 1);
  }

  h3 {
    font-size: 32px;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 48px;
  }

  .features {
    margin-bottom: 25px;
    li {
      margin-bottom: 8px;
      opacity: 0.85;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      list-style-type: '';
    }
  }

  .price-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .months-select {
      background: #1b1f33;
      border: 1px solid rgba(255, 255, 255, 0.1);
      padding: 6px 10px;
      border-radius: 6px;
      color: #fff;
    }
  }

  .btn-try {
    max-width: 365px;
    height: 52px;
    padding: 12px;
    border-radius: 3px;
    border: none;
    background-color: rgba(87, 225, 255, 1);
    color: #000;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s ease;

    &:hover {
      transform: scale(1.05);
    }

    .btn-try-subtext {
      font-size: 12px;
      font-weight: 400;
      margin: 0;
    }
  }

  .price-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .price-col {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }

    .discount {
      color: rgba(53, 255, 158, 1);
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 4px;
      order: 0;
    }

    .price {
      font-size: 35px;
      font-weight: 500;
      order: -1;
    }
  }
}
